body {
	background-image: url("https://s3.envato.com/files/233290803/preview.jpg");
	background-size: cover;
}

.container {
 
}

table { 
    margin-left: auto; 
    margin-right: auto; 
}     

td {
	border: 1px solid black;
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 70px;
	border-radius: 25px;
	background-color: red;
}

td:hover {
	background-color:orange;
}

h2{
	text-align: center;
}